<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="solrEmbedded" class="java.lang.String">
        <constructor-arg value="solr_home"/>
    </bean>

    <bean id="blOrderService" class="com.community.core.order.MyOrderServiceImpl"/>
    <bean id="blOrderItemService" class="com.community.core.order.MyOrderItemServiceImpl"/>
    <bean id="blAddOrderItemActivity" class="com.community.core.activity.MyAddOrderItemActivity"/>

</beans>